/*@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');*/
@import "custom_button.css";
@font-face {
   font-family: cardsFont;
   src: url(Cards-LVMG.ttf);
   font-family: themeFont;
   src: url(3DIsometricBold-8MYYZ.ttf);
}

* {
margin: 0;
padding: 0;

}

.window{
  width: 375px;
  height: 500px;
  background-color: #415A77;
  /*background-color: #242f3f;*/
}

.title{
  font-size: 40px;
  font-family: themeFont;
  color: black;
}

.header{
  text-align: center;
}

.bottom{
  /*background-color: Grey;
  width: 375px;
  height: 500px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.row1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type=text]:focus {
  outline: none;
  border: 3px solid #555;
}
