* {
margin: 0;
padding: 0;

}

.window{
  width: 375px;
  height: 500px;
  background-color: #415A77;
  /*background-color: #242f3f;*/
}

.title{
  font-size: 22px;
  font-family: 'Courier New', sans-serif;
}

.header{
  text-align: center;
}

.bottom{
  background-color: Grey;
  width: 375px;
  height: 500px;
  display: flex;
  justify-content: center;
}
